.titulo2 {
 font-size: 15px;
 text-align: left;
 color: #320D05;
 margin-left: 5%;
 margin-right: 2%;
}

.parrafo {
   font-size: 12px;
   text-align: left;
   margin-left: 7%;
   margin-right: 2%;
}

.imagenes {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
    
}
.pie{
    text-align: right;
    margin-left: 5px;
}

    
