<ion-header >
    <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
          <ion-title>Apostar por la Vida</ion-title>
        </ion-toolbar>
      </ion-header>
</ion-header>

<ion-content>
    <ion-card>
        
        <ion-item>
          <ion-label>
           Información general de la fundación
          </ion-label>
        </ion-item>
        <ion-card-content>
            <img class ="imagenes" src="/assets/media/imagenes/portada.jpg"/>
          <p class="parrafo">Fundada el 7 de octubre de 1992, tiene por objetivo, "Cuidar
            con Amor y Ciencia la Salud de Nuestra Comunidad",
          </p>
          <h3 class="titulo3">Servicios</h3>
          <p class="parrafo">Atendemos a Pacientes con Cáncer y con el apoyo de los Voluntarios 
            del Alto Paraná conseguimos habilitar el Primer Hospital 
            Día del Departamento. <br> Ofrecemos consultas en:</p>
            <ul class="listaOrdenada">
              <li >Oncología clínica.</li>
              <li>Cirugía oncológica.</li>
              <li>Mastología.</li>
              <li>Oncología pediátrica.</li>
              <li>Medicina paliativa.</li>
              <li>Neumología.</li>
              <li>Flebología.</li>
              <li>Dermatología.</li>
              <li>PsicoOncología y Psicología Clínica tanto para los pacientes y sus familiares.</li>
              <li>Consultas con Nutricionista para pacientes en curso de tratamiento o seguimiento y para la población en general con la intención de prevenir enfermedades.</li>
            </ul>
            <h3 class="titulo3">Educación</h3>
            <ul class="listaOrdenada">
              <li>Realizamos eventos científicos para profesionales o estudiantes del área de la salud en Alto Paraná y otras zonas del País.</li>
              <li>Recibimos a estudiantes de grado para tutoría de tesis y local de pasantía en nuestra institución a través del reconocimiento como centro de referencia por sus de Universidades.</li>
              <li>Elaboramos programas de estudios para capacitación continua y especialización en el área de oncología.</li>
            </ul>
            <h3 class="titulo3">Promociones</h3>
            <ul class="listaOrdenada">
              <li>Dictamos charlas comunitarias para la población en general sobre prevención de enfermedades a través del estilo de vida saludable.</li>
              <li>Organizamos Campañas de Concienciación en Alianzas con otras Instituciones, privadas y públicas, para el diagnóstico precoz de varios tipos de cáncer.</li>
              <li>Publicamos en medios de prensa informaciones de utilidad pública sobre esta patología y la asistencia disponible en nuestra zona.</li>
            </ul>
            <h3 class="titulo3">Donde estamos</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.4629273438786!2d-54.6480425855755!3d-25.38931038380711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f683de10c83ee7%3A0x4f4ec828038a0b05!2sFundacion%20Apostar%20Por%20La%20Vida-Hernandarias!5e0!3m2!1ses-419!2s!4v1573605397511!5m2!1ses-419!2s" width="100%" height="100%" frameborder="2" style="border:2;" allowfullscreen=""></iframe>
              <br>
              <p class="parrafo">Atendemos de lunes a viernes</p>
              <ul class="listaOrdenada">
                <li>08:00hs a 12:00hs</li>
                <li>14:00hs a 17:00hs</li>
              </ul>
              <br>
              <p class="parrafo">Teléfono: (0994) 193-701 <a href="tel:+595994193701"><ion-icon name=call></ion-icon></a></p>
              <br>
              <p class="parrafo">Barrio Mcal. Lopez Avda. Fulgencio Yegros
                  Hernandarias</p>
        </ion-card-content>
      </ion-card>
     <!-- <ion-button href="https://www.whatsapp.com/send?phone=595994193701" expand="block" color="secondary">-->
        
     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button href="https://api.whatsapp.com/send?phone=595994193701">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>

