.titulo3 {
    text-align: left;
    color: #320D05;
    margin-left: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.parrafo{
    color:#000000;
    font-size: 12px;
    margin-left: 3px;
}
.listaOrdenada{
    margin-left: 2px;
    color: #000000;
    font-size: 12px;
}
.imagenes {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}