.titulo1 {
    font-size: 25px;
    text-align: left;
    color: #22086A;
    margin-left: 5%;

   }
.parrafo{
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    color:#140440;
}
.contenido {
    font-size: 20px;
    color: #000000;
}
.encabezado{
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

}