.advertencia{
    text-align: left;
    font-size: 12px;
    color:#737373;
    font-family: cursive;
    margin-left: 8px;
}
.imagen{
    border: #F2EEEE 2px solid;
    width: 60%;
    display:block;
    margin:auto;
}