.parrafo {
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #200804;
}
.imagen{
    display:block;
    margin:auto;
    width:100%;
    max-width:200px;
}
.label1{
    text-align: center;
    color: #15C454;
}