<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Donar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <ion-card>       
          <ion-item calss="label1">
              <ion-label >¿A dónde llevo mis donaciones?</ion-label>
            </ion-item>
          <ion-card-content>
              <p> Podes acercar tus donaciones al predio de la fundasióm ubicada en la siguiente dirección: Avenida Fulgencio 
                  Yegros, Barrio Mariscal López, Hernandarias. <br>
                  Podes contactarnos a través del teléfono (0994) 193-701 
                  <br>
                  <strong>Lo que más necesitamos en este momento son:</strong>
                </p>
          </ion-card-content>
        </ion-card>

    <ion-list *ngIf="!ayudo.length">
      <ion-item *ngFor="let item of [0, 1, 2]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-item>
    </ion-list>
      <ion-list>
          <ion-item-sliding *ngFor = "let conte of ayudo">
              <ion-card >
                  <ion-item>
                    <ion-label><strong>{{conte.ayuTitulo}}</strong></ion-label>
                    <ion-button button [routerLink]="['/detalles-ayuda', conte.id]" fill="outline" slot="end">Más</ion-button>
                  </ion-item>
                
                  <ion-card-content>
                      <p>{{conte.ayuIntro}}</p>
                  </ion-card-content>
                </ion-card>
          </ion-item-sliding>
        </ion-list>    
     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button href="https://api.whatsapp.com/send?phone=595994193701">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>