<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>¿Qué donar?</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p class="parrafo"> &nbsp;&nbsp;&nbsp;&nbsp;Podes acercar tus donaciones al predio de la fundasióm ubicada en la siguiente dirección: Avenida Fulgencio 
      Yegros, Barrio Mariscal López, Hernandarias. <br>
      Podes contactarnos a través del teléfono (0994) 193-701 <a href="tel:+595994193701"><ion-icon name=call></ion-icon></a>
      <br>
      <strong>Lo que más necesitamos en este momento son:</strong>
    </p>

    <ion-list *ngIf="!campain.length">
      <ion-item *ngFor="let item of [0, 1, 2]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-item>
    </ion-list>

      <ion-list>
          <ion-item-sliding *ngFor = "let conte of campain">
              <ion-card-header >
                  <ion-card-subtitle>
                      <ion-avatar>
                          <ion-img [src]="conte.campImg" ></ion-img>
                    </ion-avatar>
                </ion-card-subtitle>      
              </ion-card-header>
              <ion-card-content button [routerLink]="['/detalles', conte.id]">
                  <ion-card-title><strong>{{conte.campName}}</strong></ion-card-title>
                  <p>Inicio de campaña: <strong>{{conte.campInicio | date: 'dd/MM/yyyy'}}</strong></p>
                  <p>Fin de la campaña: <strong>{{conte.campFinal |  date: 'dd/MM/yyyy'}}</strong></p>
                  <p>URL de la imagen: {{conte.campImg}}</p>
                  <p>Objetivo: <strong>{{conte.campObj}}</strong></p>
                  <p>Descripción: <strong>{{conte.campDescrip}}</strong></p>
                  <p>más detalles...</p>
              </ion-card-content>
          </ion-item-sliding>
        </ion-list>    
     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button href="https://api.whatsapp.com/send?phone=595994193701">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>